[package]
name = "mdbook-plotly"
version = "0.1.0"
edition = "2024"

[dependencies]
clap = { version = "4.5", features = ["cargo"] }
colog = "1.4"
log = "0.4"
mdbook-preprocessor = "0.5"
serde = "1.0"
serde_json = "1.0"
